@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.tp-header {
    position: fixed;
    width: 100%;
    height: 6rem;
    background: rgba(248, 248, 248, 0.98);
    margin: 0;
    display: flex;
    top: 0;
    left: 0;
    gap: 12em;
    color: rgb(0, 0, 0);
    align-items: center;
    justify-content: space-between;
    padding: 0 2em;
    border-bottom: 0.0625rem solid rgba(22, 5, 94, 0.29);
    z-index: 1000;
    backdrop-filter: blur(0.625rem);
}

.tp-header-left {
    height: 100%;
}

.tp-image {
    width: 8rem;
    height: 100%;
    /*overflow: hidden;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.tp-image-link {
    /*border:4px solid green;*/
    height: 100%;
    width: 8em;
}

.tp-logo {
    /*border:1px solid red;*/
    width: 100%;
    height: 100%;
    display: block;
    /*overflow: hidden;*/
    aspect-ratio: 3/3;
    object-fit: cover;
    transform: scale(1.3);
}

.tp-underline {
    width: 100%;
    height: 70%;
}

.tp-underline:before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 0.1875rem;
    width: 60%;
    left: 20%;
    right: 0;
    background: #27269a;
    border-radius: 3.125rem;
    transform: scaleX(0);
    transition: transform .2s linear;
}

.tp-underline:hover:before {
    transform: scaleX(1);
}

@media (max-width: 56.25rem) {
    .tp-header {
        width: 100%;
        height: 5.4rem;
        justify-content: space-between;
        padding: 0;

        .tp-header-nav {
            display: none;
        }

        .tp-burger-menu-container{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            margin: 0;
        }

        .tp-image{
            width: 6rem;
            /*border: 1px solid red;*/
            .tp-logo{
                width: 100%;
            }
        }

        .burger-menu{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .nav-links{
        color: white;
    }


    .burger {
        position: sticky;
        top: 0;
        right: 0;
        padding: 0.7rem;
        z-index: 99999;
        width:max-content;
        height: max-content;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        gap: 0.5rem;
        cursor:pointer;

    }

    .burger:before,
    .burger:after,
    .burger div {
        background: #121344;
        content: "";
        display: block;
        height: 0.3rem;
        width: 2rem;
        border-radius: 0.1875rem;
        margin-inline: auto;
        transition: 0.5s;

    }

    .burger:hover {
        border-radius: 1rem;
        background: rgba(54, 51, 51, 0.05);
    }

    .nav-open:before {
        transform: translateY(0.7rem) rotate(135deg);
    }
    .nav-open:after {
        transform: translateY(-.7rem) rotate(-135deg);
    }

    .nav-open div {
        transform: scale(0);
    }

    .nav-container{
        display: flex;
        width: 100%;
        height: 90%;
        position: fixed;
        transition: 0.2s ease-in-out;
        animation: fadeIn 0.4s ease-in-out alternate;
        background: rgba(0, 0, 0, 0.71);
        backdrop-filter: blur(0.375rem);
        justify-content:space-between;
        flex-direction: column;
        align-items: start;
    }

    @keyframes fadeIn {
        from{
            transform: scale(0);
        }
        to {
            transform: scale(1);
            right: 0;

        }
    }

}



